<%- include('partials/head') %>
	<body>
		<%- include('partials/nav') %>

		<div class="container">
			<h1>You are currently viewing a <%= subname %> subpage</h1>
			<h2><%= description %></h2>
			<p>Total subscribers: <%= subscribers %></p>
			<hr />
			<% for (let post of posts) {%>
			<article>
				<p>
					<%= post.title %> -
					<span
						><strong><em><%= post.author%></em></strong></span
					>
				</p>
				<% if (post.img) { %>
				<img src="<%= post.img %> " alt="Post image" /> <% } %>
			</article>
			<%}%>
		</div>
	</body>
</html>
